{% extends 'quizzes/base.html' %}
{% load bootstrap5 %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-dark text-center">Add a new question:</h2>
            </div>
            <div class="col-md-3"></div>
            <div class="col-sm-12 col-md-6 bg-light pt-3 pb-4">
                <ul class="nav nav-tabs mx-5 mt-3" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="head-tab" data-bs-toggle="tab" data-bs-target="#head" type="button" role="tab" aria-controls="head" aria-selected="true">This is the first question of a quiz</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">This is not the first question</button>
                    </li>
                </ul>
                <div class="tab-content mx-5" id="myTabContent">
                    <div class="tab-pane fade show active mt-4" id="head" role="tabpanel" aria-labelledby="head-tab">
                        <label for="quiz_name" class="form-label text-muted">This is the first question of which quiz?</label>
                        <select class="form-select" form="question_form" id="quiz_name" name="quiz_name">
                            <option value="none"></option>
                            {% for quiz in quizzes %}
                            <option value="{{quiz.name}}">{{quiz.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="tab-pane fade mt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <label for="question_name" class="form-label text-muted">This follows which question in this quiz?</label>
                        <select class="form-select" form="question_form" id="question_name" name="question_name">
                            <option value="none"></option>
                            {% for node in nodes %}
                            <option value="{{node.curr_question}}">{{node.curr_question}}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                <form class="form text-center text-muted mx-5 d-grid gap-3 mt-3" id="question_form" action="{% url 'quizzes:add_question' target_quiz.id %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-dark mt-3" name="submit">Create</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock header %}

{% block content %}
{% endblock content %}
