{% extends 'quizzes/base.html' %}

{% block header %}
    <div class="container">
        <div class="row">
            {% if scores|length > 0 %}
            <div class="col-md-12 text-dark text-center py-3">
                <h2>{{user.username}}'s' Scores</h2>
            </div>
            
            {% for score in scores %}
            <div class="col-md-4 mb-3">
                <div class="card flex-md-row mb-4 box-shadow h-md-250 p-3" style="background-color: #E9ECEF">
                    <div class="card-body d-flex flex-column align-items-start">
                        <div class="list-incline mb-2">
                            <a href="{% url 'quizzes:quiz' score.quiz.id %}" class="list-inline-item d-inline-block text-decoration-none"><strong class="text-dark">{{score.quiz.name}}</strong></a>
                            <a class="list-inline-item text-dark" href="{% url 'quizzes:delete_score' score.id %}">
                                <i class="bi bi-trash"></i>
                            </a>          
                        </div>
                        <h6 class="mb-2 card-text">Score {{score.score}}</h6>
                        <h6 class="mb-2 card-text">Total {{score.total}}</h6>
                        <h6 class="mb-2 card-text">Percentage {{score.percentage}}</h6>
                    </div>
                </div> 
            </div>
            {% endfor %}
            {% if scores|length < 3 %}
            <div class="col-md-4 d-grid mb-3 text-center align-items-center">
                <h5 class="text-muted"><small>Take more quizzes to see your scores.</small></h5>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-dark text-center py-3">
                <h2>Quizzes</h2>
            </div>
            
            {% for quiz in quizzes %}
            <div class="col-md-6 d-grid mb-3">
                <div class="card flex-md-row mb-4 box-shadow h-md-250 p-3" style="background-color: #E9ECEF">
                    <div class="card-body d-flex flex-column align-items-center text-center">
                        <h3 class="card-title">
                            {{quiz.name}}
                            <h5><a class="text-dark" href="{% url 'quizzes:delete_quiz' quiz.id %}">
                                <small><i class="bi bi-trash"></i></small>
                            </a></h5>
                        </h3><br>
                        <h6 class="card-text text-muted px-5">{{quiz.head}}</h6>
                        <a class="btn btn-sm btn-outline-primary mt-3" href="{% url 'quizzes:quiz' quiz.id %}">Take quiz</a>
                    </div>
                </div> 
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
