{% extends 'quizzes/base.html' %}
{% load bootstrap5 %}

{% block header %}
    <div class="container text-center">
        <h1>Log in to your account</h1>
    </div>
{% endblock header %}

{% block content %}
    <section class="container text-center">
        <form class="form-signin my-4 w-50" style="width: 100%; max-width: 330px; padding: 15px; margin: 0 auto;" action="{% url 'users:login' %}" method="post">
            {%csrf_token%}
            {% bootstrap_form form %}
            <button class="btn btn-primary mt-2" name="submit">Log In</button>
            <input type='hidden' name='next' value="{% url 'quizzes:index' %}" />
        </form>
    </section>
    

{% endblock content %}